body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    text-align: center;
    font-family: "Turret Road", cursive;
    color: white;
}
h1{
    color: white;
    font-weight: bold;
    margin-top: 25px;
}

p{
    font-size: 20px;
    font-weight: bold;
}

#instruction1{
    color: darkorange;
}

#instruction2{
    color: rgb(238, 255, 0);
}

#instruction3{
    color: red;
}

input {
    min-width: 65%;
}

#submit{
    background-color: darkorange;
    border: none;
    transition-delay: 0s;
    transition-duration: 5s;
    transition-property: background-color;
    transition-timing-function: ease-in;
}

#submit:hover{
    background-color: rgb(238, 255, 0);
}

/*Styles for the ul and li*/

ul {
    margin-top: 20px;
    text-align: left;
}

li {
    list-style: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
    background-color: #5bd6f5;

}
.delete{
    display: none;
}

/* Target any buttons whose parent is a list item */

li > button{
    float: right;
    border: none;
    background: none;
    color: white;
}
